version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"
      - "9229:9229"
    command: npm run start:debug
    volumes:
      - ./:/app         
      - /app/node_modules 
    environment:
      - HOST=0.0.0.0
      - PORT=3000
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=secret
      - DB_NAME=inventory_db
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: inventory_db
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./inventory.sql:/docker-entrypoint-initdb.d/inventory.sql 

volumes:
  db_data: