version: '3.8'

services:
  app:
    build: .
    ports:
      - "${PORT}:${PORT}"
      - "9229:9229"
    command: npm run start:debug
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      - HOST=${HOST}
      - PORT=${PORT}
      - CACHE_DIR=${CACHE_DIR}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    ports:
      - "${DB_PORT}:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./inventory.sql:/docker-entrypoint-initdb.d/inventory.sql

volumes:
  db_data: